.project-info {
  color: #888;
  margin-top: 20px;
  font-family: 'EB Garamond', serif;
}

.movie-search {
  font-size: 150px;
  margin-top: 30px;
  font-family: 'Merriweather', serif;

  background: linear-gradient(90deg, #e7a430, #6e695e);
  /* 원하는 색상 지정 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Optional for better compatibility */
  background-clip: text;
  color: transparent;
}

.form-control-lg {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.form-control-lg:focus,
.form-control-lg:active {
  outline: none;
  box-shadow: none;
  border-color: #a1a1a1;
  background-color: #525252;
  color: white;
}

.form-control-lg::placeholder {
  color: #888;
}

.input-wrapper {
  position: relative;
  margin-top: 150px;
}

.movie-title-search {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

a {
  color: #888;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 2;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  display: block;
  z-index: 1;
}

.modal-header {
  border-bottom: 1px solid #525252;
}